.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 15px;  
    box-shadow: 3px 3px 5px gray;
    width: 450px;
    height: 250px;
    background-image: url(https://c8.alamy.com/compes/gnbpe6/graffiti-en-frio-mas-vieja-y-sucia-pared-hip-hop-urbano-fondo-gris-gnbpe6.jpg);
    background-size: 492px 452px;
    }

    .contenedor:hover {
        box-shadow:0px 0px 10px 6px rgb(247, 133, 67);
        transform: scale(1.1);

    }

#principal{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.superior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inferior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    width: 106px;
    height: 62px;
    border-radius: 10%;
    box-shadow:0px 0px 3px 3px rgb(12, 12, 12);
}

p {
    font-family: "Arial Black";
    color: rgb(250, 246, 250);
    text-shadow: 1px 10px 10px rgb(10, 10, 10);
    -webkit-text-stroke: 1.5px rgb(247, 133, 67);
  color: white;

}

h2 {
    COLOR: rgb(250, 246, 250);
    text-shadow: 1px 10px 10px rgb(10, 10, 10);
    -webkit-text-stroke: 1.5px rgb(247, 133, 67);
    color: white;
    font-size: 30px;

}

#imagen {
    opacity: 0.7;
}